.item1{
	width: 100%;
	height: 1.78rem;
	padding: 0 .24rem;
	margin-top: 1.77rem;
}
.item1-01{
	margin-top: 0;
	height: 0.84rem;
}
.item1-01 .jinji-shang-1{
	width: 100%;
	margin-top: 0.05rem;
}
.item1-01-01{
	margin-top: 0.36rem!important;
}
.item-02{
	margin-top: 0;
}