.swiper-container{
	width: 100%;
	height: 100%rem;
}
.shang{
	width: 100%;
	height: 11.66rem;
	background-color: yellow;
	position: relative;
}
.img1{
	width: 100%;
	height: 11.66rem;
}

.img2{
	width: 5.14rem;
	height: 0.57rem;
	position: absolute;
	left: 1.12rem;
	bottom: 2.1rem;
}
.p1{
	font-size: .08rem;
	color: rgba(0, 0, 0, .4);
	position: absolute;
	left: 1.9rem;
	bottom: 1.73rem;
}
.p1-1{
	left: 2.11rem;
}
.img3{
	width: 0.13rem;
	height: 0.13rem;
	position: absolute;
	left: 3.67rem;
	bottom: 1.41rem;
}
.p2{
	font-size: .24rem;
	color: rgba(0, 0, 0, .4);
	position: absolute;
	left: 1.58rem;
	bottom: 0.9rem;
	font-family: '苹方';
	font-weight: bold;
	letter-spacing: .015rem;
}
.p3{
	font-size: .13rem;
	letter-spacing: .31rem;
	color: #d9d9ff;
	position: absolute;
	left: 2.4rem;
	bottom: 0.58rem;
}

.xia{
	width: 100%;
	height: 1.68rem;
	background-color: #807fff;
	position: relative;
}
.xia-2{
	background-color: #66c626;
}
/* ul{
	width: .96rem;
	height: .14rem;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	justify-content: space-around; 
}
ul li{
	width: .14rem;
	height: 100%;
	background-color: #cbcaff;
	border-radius: 1rem;

}
.xia-2>ul .len{
	width: .49rem;
	height: 100%;
	background-color: #e6e5ff;
	border-radius: 1rem;
} */


/* 对轮播点的样式修改 */
.swiper-pagination{
	width: 1.03rem!important;
	height: .14rem!important;
	position: absolute!important;
	left: 45%!important;
	right: 50%!important;
	top: 95%!important;
	bottom: .2rem!important;
	display: flex!important;
	flex-wrap: wrap!important;
	justify-content: space-between!important;
	justify-content: space-around!important;
	z-index: 999!important;
}
.swiper-pagination-bullet{
	width: .14rem!important;
	height: 100%!important;
	background-color: #fff!important;
	border-radius: 1rem!important;
	z-index: 999;
}
.swiper-pagination-bullet-active{
	width: .49rem!important;
	height: 100%!important;
	background-color: #e6e5ff!important;
	border-radius: 1rem!important;
	z-index: 999;
}
.dianjijinru{
	width: 2.2rem;
	height: .6rem;
	border: .01rem solid #b0b0b0;
	background-color: white;
	border-radius: 1rem;
	position: absolute;
	top: 88%;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	box-shadow: 0 0 .1rem .01rem #8f9bbf;
}
.dianjijinru a{
	line-height: .6rem;
	color: #001;
	font-size: .23rem
}